<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="emp">
	<select id="count" resultType="int">
		SELECT count(*) FROM EmpInfo
	</select>
	
	
	 <resultMap type="emp.dto.EmpDTO" id="listSelect" autoMapping="true">
		<association property="depDTO" javaType="dep.dto.DepDTO">
			<result column="depName" property="depName"/>
		</association>
	</resultMap>

<!-- 	<select id="list" parameterType="emp.dto.PageDTO" resultMap="listSelect">
	<![CDATA[ 
		SELECT b.*
		FROM(SELECT rownum AS rm, a.*
			FROM(SELECT * FROM EmpInfo
			ORDER BY empNum ASC)a)b
			WHERE b.rm>=#{startRow} AND b.rm<=#{endRow}
		]]>
	</select>
 -->
	

</mapper>























