<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="EmpInfo">
	<resultMap type="EmpInfo.dto.EmpInfoDTO" id="listSelect"
		autoMapping="true">
		<association property="DepInfoDTO"
			javaType="DepInfo.dto.DepInfoDTO">
			<result column="depName" property="depName" />
		</association>
	</resultMap>

	<select id="list" parameterType="EmpInfo.dto.EmpInfoDTO"
		resultMap="listSelect">
	<![CDATA[ 
		select * from EmpInfo
		]]>
	</select>

	<select id="content" parameterType="int" resultMap="contentSelect">
		select * from empInfo as e,
		depInfo as d, RankInfo as r
		where e.empNum = #{empNum}
		and e.depName = d.depName and e.rankName = r.rankname
	</select>
	
	<!-- save(insert) -->
		<insert id="save" parameterType="EmpInfo.dto.EmpInfoDTO">
		insert into EmpInfo (empName, empSex,empEmail,depName, rankName) 
		values  (#{empName}, #{empSex}, #{empEmail, jdbcType=VARCHAR}, #{depName}, #{rankName})
	</insert>
	
	<!-- 수정 -->
	<update id="update" parameterType="EmpInfo.dto.EmpInfoDTO">
		update EmpInfo 
		set empName = #{empName}, empSex=#{empSex}, empEmail= #{empEmail},
		depName = #{depName}, rankName=#{rankName} 
		where empNum= #{empNum}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM EmpInfo
		WHERE empNum=#{empNum}
	</delete>
	


</mapper>





























